<div>
  <input [(ngModel)]="newAppointmentTitle" placeholder="Appoinment Description">
  <input [(ngModel)]="newAppointmentDate" placeholder="Appoinment date" type="date">
  <button (click)="addAppointment()">Create Appointment</button>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Appointment Number</th>
        <th>Appointment Title</th>
        <th>Appointment Date</th>
        <th>Delete Appointment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of appointments; index as i">
        <td>{{app.id}}</td>
        <td>{{app.title}}</td>
        <td>{{app.date}}</td>
        <td><button (click)="deleteAppointment(i)">Delete Appointment</button></td>
      </tr>
    </tbody>
  </table>
</div>
